body {
  background-color: #181818;
  color: white;
  margin: 2%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: large;
}

hr {
  border-color: #2b2a2a;
}

h2 {
  width: 300px;
  font-size: 14px;
  margin: 0px;
  margin-top: 15px;
}

h2:hover {
  text-decoration: underline;
  color: white;
  text-shadow: 0 0 6px white;
}

h3 {
  width: 300px auto;
  font-size: 14px;
  color: #a0a0a0;
  margin: 0px;
  margin-top: 5px;
}

h3:hover {
  text-decoration: underline;
  color: #ffffff;
  text-shadow: 0 0 6px #ffffff;
}

.container {
  display: grid;
  justify-content: center;
}

.albums {
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  justify-content: center;
  align-content: center;
  gap: 20px;
  margin-top: 10px;
  row-gap: 50px;
}

/*
.single-album {
  margin-bottom: 20px;
}*/

.album-cover {
  max-width: 100%;
  height: auto;
}


/* MEDIA QUERIES FOR TABLETS */
@media (min-width: 768px) and (max-width: 1024px){
  .albums {
    grid-template-columns: repeat(2, minmax(50px, 1fr));
}
}

/* MEDIA QUERIES FOR MOBILES */
@media (max-width: 767.98px){
  .albums {
    grid-template-columns: repeat(1, minmax(50px, 1fr));
}
}